.modal-wrapper{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.398);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal-inner{
    width: 40%;
}
.close-btn-wrap{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}
.close-btn{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #e70404;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: .5s;
    
}
.close-btn:hover{
    background-color: #757474;
}

/* Responsive css */

@media (max-width: 650px) { 
    .modal-inner{
        width: 95%;
    }

 }
